:root {
    --primary-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bgr-color: #f5f5f5;
    --second-text-color: #757575;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0px;
  }
  .main-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .visually {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .visually .btn + .btn {
    margin-left: 8px;
  }
  .flex-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
    border: 0;
  }
  .button:hover,
  .button:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  .button.current {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  .work {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .examples {
   
    width: calc((100% - 60px) / 3);
  }
  .examples:nth-child(3n) {
    margin-right: 0px;
  }
  .examples-title-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  .images {
    text-decoration: none;
  }
  .work-title {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
  }
  .work-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--second-text-color);
  }
  
  .item .link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .item .link-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .title-foot{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
      color: #ffffff;
      }
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .socials-link.cont {
    width: 44px;
    height: 44px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 10%);
  
  }
  .social-icon{
    fill: #AFB1B8;
  }
  .socials-link:hover ,
  .socials-link:focus{
    background-color: var(--accent-color);
    
  }
  .social-icon:hover ,
  .social-icon:focus{
  fill:#ffffff
  }
  