:root {
    --primary-text-color: #212121;
    --accent-color: #2196f3;
    --second-text-color: #757575;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    margin-top: 0px;
  }
  
  .logo {
    color: #000000;
  }
  span {
    color: var(--accent-color);
  }
  .list {
    list-style: none;
  }
  .site-nav .link {
    color: var(--primary-text-color);
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav .link.current {
    color: var(--accent-color);
    
  }
  
  .hero.background{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/Img\ Overlay.svg),
    url(../images/bgr1.jpg);
    }
  
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    width: 693px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .button {
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    letter-spacing: 0.06em;
    border: 0;
  }
  .title {
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
  }
  
  .section-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
  }
  .feature,
  .work {
    display: flex;
  }
  .feature-list .feature-text {
    width: 270px;
  }
  .feature .feature-text + .feature-text {
    margin-left: 45px;
  }
  
  .feature-list .title {
    color: var(--primary-text-color);
  }
  .feature-text::before{
    display: block;
    margin-bottom: 30px;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center; 
  }
  
  .images::before{
     background-image: url(../images/Group.svg);
  
  }
  .clock::before{
    background-image: url(../images/clock\ 1.svg);
  }
  .vector::before{
    background-image: url(../images/Vector.svg);
  }
  .astronaut::before{
    background-image: url(../images/astronaut\ 1\ \(1\).svg);
  }
  
  .text {
    line-height: 1.7;
    color: var(--second-text-color);
    margin-bottom: 0px;
  }
  .about {
    padding-top: 0px;
  }
  .work .lst + .lst {
    margin-left: 45px;
  }
  .icons-item::after{
    display: block;
    height: 44px;
    width: 44px;
    margin-right: 10px;
    content: "";
    background-position: center;
    background-size: contain;
    background-image: url(../images/instagram\ 2.svg),
    url(../images/twitter\ 1.svg),
    url(../images/facebook\ 1.svg),
    url(../images/linkedin\ 1.svg);
    background-repeat: no-repeat;
  }
  .command {
    display: flex;
  }
  .command .lst + .lst {
    margin-left: 45px;
  
  }
  .command .lst{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  .command-title-command-text {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .command-title {
    padding-top: 0px;
    margin-bottom: 10px;
  
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
  }
  .command-text {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    color: var(--second-text-color);
  }
  